body {
    margin: 0;
    padding: 0;
}
#title {
    color: white;
    align-self: center;
    margin-top: 15%;
}

.hero {
    height: 100%;
    width: 100%;
  background-color: #152733;
    background-color:;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #4caf50;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    position: center;

}

.submit-btn {
    width: 30%;
    border-radius: 30px;
    align-self: center;
    color: white;
    background-color: #4caf50; /* Blue */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-width: 0px;
    border: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    

}

.fields {
    width: 50%;
    text-align: center;
}

input.text {
    width: 45%;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border-color: #7091a1;
    border-width: 0px;
    border: none;
    border-radius: 30px;
}

.register-view {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.register-label {
    margin-right: 15px;
    color: aliceblue;
    font-size: 19px;
}

#acc-type {
    width: 45%;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border-color: #7091a1;
    border-width: 0px;
    border: none;
    border-radius: 30px;
}

.form-box {
    text-align: center; 
    

}

